<div class="discussion-heading">
  <h4 class="discussion-headline">Talk about your latest reads here.</h4>
</div>

<div>
  <form name="form" ng-controller="PostsController as vm" id="create-post" ng-submit="vm.createPost()">

    <input type="hidden" id="id" name="id" data-ng-model="current_user.id" />
    
    <label for="name">Add a Post:</label>
    <input ng-model="vm.post.content" type="text" name="content" required="required"></br></br>

    <div class="form-error" ng-if="form.content.$touched && form.content.$error.required"> Content is required!
    </div>

    <input class="btn btn-primary" type="submit" value="Add Post">
  </form>
</div>

<div class="card col-md-5" ng-repeat="post in posts">
  <div class="card-block">
    <h4 class="card-user">{{ post.user.username }}</h4>
    <p class="card-content">{{ post.content }}</p>
    
  </div>
</div>