<div class="discussion-heading">
  <h4 class="discussion-headline">Talk about your latest reads here.</h4>
</div>

<div>
  <form name="form" id="create-post" ng-submit="vm.createPost()">

    <input type="hidden" id="id" name="id" data-ng-model="vm.post.id" />
    
    <label for="name">Add a Post:</label><br>
    <textarea ng-model="vm.post.content" type="text" name="content" required="required" minlength="10"></textarea></br></br>

    <div class="form-error alert alert-danger" ng-if="form.content.$touched && form.content.$error.required"> Content is required!
    </div>

    <div class="form-error alert alert-danger" ng-if="form.content.$error.minlength">Post must be at least 10 characters!
    </div>

    <input class="btn btn-primary" type="submit" value="Add Post">
  </form>
</div>

<button id="sortLikes" class="btn btn-success" ng-click="sortBy()" ng-model="post.upvotes">Sort by Likes</button>

<h4 class="post-list-detail">Click on a post for more detail.</h4>
<div id="post-list">
  <div class="post-card col-md-9 col-md-offset-1" ng-repeat="post in vm.posts">
    <div class="card-block">
      <a href="#" ui-sref="home.post({id: post.id})"><h4 class="card-user"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ post.user.username }}</h4>
      <p class="card-content">{{ post.content }}</p>
      <p class="card-datetime">Written on: {{ post.created_at | date: 'mediumDate'}}</p></a>
      <button class="btn btn-primary" ng-click="vm.addVote(post)"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>  Like</button>
      <p>Likes: {{ post.upvotes || "0" }}</p> 
    </div>
</div>
