<div class="col-md-12 main-headline">
  <h4 class="home-headline">Are you looking for new books to read?  Search through the reviews and ratings that others have written to find your next read.</h4>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1 form-div"> 
    <div ng-controller="HomeController as vm">
      <div class="search-box">
        <label for="query">Search :</label>
        <input name="query" ng-model="query" />
      </div>
    <div>
      <ul class="book-list" ng-controller="BooksController as vm">
        <li class="book-list-item" ng-repeat="book in vm.books"><p> {{book.title}} - {{book.author}}</p></li>    
      </ul>
    </div> 
  </div>  
</div>