<h1>My Book Reviews</h1>


<a href="#" ui-sref="home.book({id: book.id})"><div class="book-card col-md-9 col-md-offset-1" ng-if="book.user_id == $ctrl.user.id" ng-repeat="book in $ctrl.books | orderBy: orderProp">
  <div class="card-block">
    <h4 class="card-title"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ book.title }}</h4>
    <p class="card-author">{{ book.author }}</p>
    <p class="card-review"> {{ book.review }}</p> 
     <p class="card-rating"> {{ book.rating }}</p>  
  </div>
</div></a>