<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form id="add-book-review" name="form" ng-submit="$ctrl.addBookReview()">     
        <div class="input-group">
          <label>Review:</label>
          <textarea ng-model="$ctrl.book.review" name="review"></textarea>
        </div>

        <div class="input-group">
          <label>Rating:</label>
          <select id="rating" value="5" ng-model="$ctrl.book.rating">
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
          </select>
        </div>

        <input id="submit-review" class="btn btn-primary" type="submit" value="Add Book Review">
      </form>
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
</div>