<div class="container-fluid">
  <div class="row">
    <div id="user-profile" class="books-banner">
    </div>
  </div>
</div>

<div class="book-search-box">
    <h3 class="book-title">Looking for a new book?</h3>
    <form>
      <label class="book-search-label">Book Search:</label>
      <input id="book-input" ng-model="searchTerm" type="text" name="book-search"><br><br>
            
      <input class="btn book-submit" ng-click="getBooks()" type="submit" value="Find Books">
    </form>
  </div>

  <table id="resultsTbl" class="table table-striped">
    <tbody>
      <tr ng-repeat="item in items">
        <td><a ng-href="{{item.volumeInfo.infoLink}}" target="_blank"><img ng-src=
          "{{item.volumeInfo.imageLinks.smallThumbnail}}" /></a></td>
        <td>{{item.volumeInfo.title}}<br />
          By: {{item.volumeInfo.authors}}<br />
          Published: {{item.volumeInfo.publisher}}, {{item.volumeInfo.publishedDate}}
        </td>
       </tr>
    </tbody>
  </table>
</div>