/* color palette:
evening: #262228;
sunflowers: #ffcf00;
starry night: #0375B4;
irises: #007849;
*/

body {
  padding: 0;
  margin: 0;
}

#navbar {
  width: 100%;
  display: inline-block;
  color: white;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 1.7em;
  border-radius: 0;
  margin-bottom: 0;
  padding-left: 20%;
}

.nav-item {
  list-style-type: none;
  float: left;
  margin: 15px 40px;
  padding: 0; 

  a {
    text-decoration: none;
    color: white;
    display: block;
  }

  a:hover {
    color: #ffcf00;
    text-decoration: none;
  }

  a.active {
    color: #007849;
    text-decoration: none;
  }
}

.banner {
  height: 450px;
  background: url("home-books.jpg");
  background-size: cover;
}

#site-brand {
  width: 370px;
  height: 160px;
  background: #1d1d1d;
  border: 1px solid #262228;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  text-align: center;
}

#site-title {
  font-size: 2.8em;
  line-height: 1.2;
  color: white;
  font-family: 'Sue Ellen Francisco', cursive;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

#subtitle {
  font-family: 'Raleway', cursive;
  color: #777;
  letter-spacing: 1px;
}

.intro {
  text-align: center;
  font-family: 'Raleway', cursive;
  font-size: 1.0em;
  letter-spacing: 1.5px;
  background: #007849;
  padding-bottom: 15px;
  width: 100hw;
  border-bottom: 1px solid #262228;
  border-top: 1px solid #262228;
  color: white;
}

.user-nav {
  font-family: 'Raleway', cursive;
  font-size: 1.3em;
  border-radius: 0;
  margin: 0;
  vertical-align: top;
  padding-top: 10px;
  height: 50px;
}

.user-nav-item {
  padding-top: 5px;
  display: inline-block;
  list-style-type: none;
  float: left;
  margin-left: 50px;
  height: 50px;
 
  a {
    text-decoration: none;
    color: #42282C;
    display: block;
  }

  a:hover {
    color: #ffcf00;
    text-decoration: none;
  }

  a.active {
    color: #6D997A;
    text-decoration: none;
  }
}

#user-navbar {
    display: inline-block;
    float: none;
    width: 100%;
    margin: 0;
    padding-left: 28%;
}

.about-page {
  margin:0 ! important;
  padding:0 ! important;
  width: 100hw;
}

.about {
  margin: 50px;
  padding: 30px;
  font-family: 'Raleway', cursive;
  font-size: 1.2em;
}

.about-list {
  padding-bottom: 10px;
}

.sidebar-right {
  height: 100vh;
  background: url('about-banner.jpg');
  background-size: cover;
  box-sizing: border-box;
  border-left: 1px solid #007849;
}

#login-form,
#register-form {
  margin-left: 300px;
  padding-bottom: 300px;
}

.form-title {
  margin-left: 300px;
}

.input-group {
  margin-bottom: 10px;
}

.sidebar-left {
  float: left;
  width: 25%;
  height: 500vh;
  background: #ffcf00;
  margin-top: -5px;
  box-sizing: border-box;
  padding: 70px;
  border-right: 1px solid #262228;
}

.main {
  float: left;
  width: 75%;
  padding: 30px;
  height: auto;
}

.user-banner {
  height: 200px;
  background: url("user-banner.jpg");
  background-size: cover;
}

#profile-bar {
  background: #007849;
  width: 100hw;
  margin: -5px;
  border-radius: 0;
  text-align: center;
  font-family: 'Raleway', cursive;
  color: #262228;
  border-bottom: 1px solid #262228;
  border-top: 1px solid #262228;
}

.profile-links {
  font-family: 'Raleway', cursive;
  font-size: 1.3em;
  color: #0375B4;
  line-height: 2.0;
}

a.profile-links:active,
a.profile-links:hover,
a.profile-links:focus {
  text-decoration: none;
  color: #007849; 
}

label {
  margin-right: 20px;
  font-family: 'Raleway', cursive;
  font-size: 1.3em;
}

textarea {
  font-family: 'Raleway', cursive;
  font-size: 1.3em;
  border-radius: 5px;
  width: 300px;
  height: 200px;
}

.form-error {
  color: red;
  margin-bottom: 10px;
  width: 300px;
}

.book-title {
  margin: 40px 300px;
}

.card {
  border: 1px solid #0375B4;
  padding: 20px;
  width: 400px;
  height: 400px;
  font-family: 'Raleway', cursive;
  text-align: center;
  margin: 20px;
  background: #ececec;
  color: #262228;
  box-shadow: 0 2px 1px -1px;
  }

#book-search-form {
  padding-bottom: 50px;
}

.detail-card {
  border: 1px solid #0375B4;
  padding: 20px;
  height: auto;
  font-family: 'Raleway', cursive;
  font-size: 16px;
  text-align: center;
  margin: 20px;
  background: #ececec;
  color: #262228;
  box-shadow: 0 2px 1px -1px;
  }

.discussion-headline {
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 2.0em;
}

#create-post {
  margin-left: 10%;
  margin-bottom: 50px;
  text-align: center;
}

.post-card {
  border: 1px solid #0375B4;
  padding: 20px;
  height: auto;
  font-family: 'Raleway', cursive;
  text-align: left;
  margin: 20px;
  background: #D6FBC5;
  color: #262228;
  box-shadow: 0 2px 1px -1px;
}

.card-content {
  font-family: 'Raleway', cursive;
  font-size: 1.3em;
}

.glyphicon-comment {
  color: #007849 ;
  margin-right: 10px;
}

.card-user {
  font-weight: bold;
  font-size: 1.4em;
}

.card-datetime {
  margin-top: 20px;
}

#book-description {
  text-align: left;
}

.card-title {
  font-size: 1.5em;
}

#book-review-container {
  margin-top: 30px;
  margin-left: 30%;
}

.book-card {
  border: 1px solid #0375B4;
  padding: 20px;
  width: 450px;
  height: auto;
  font-family: 'Raleway', cursive;
  text-align: center;
  margin: 20px;
  background: #ececec;
  color: #262228;
  box-shadow: 0 2px 1px -1px;
}

.main-headline {
  background: #0375B4;
  height: 100px;
  margin-bottom: 40px;
  border-bottom: 1px solid #262228;
  padding-top: 15px;
}

.home-headline {
  margin-left: 40px;
  font-family: 'Raleway', cursive;
  font-size: 1.5em;
  color: white;
}

.book-list {
  margin-top: 40px;
  list-style-type: none;
  font-family: 'Raleway', cursive;
  font-size: 1.3em;
  padding-bottom: 100px;
}

#search-label,
#rating-label {
  width: 70px;
  margin-bottom: 15px;
}

#footer-text {
  text-align: center;
  font-family: 'Raleway', cursive;
  font-size: 1.0em;
}

footer {
  border-top: 1px solid #262228;
  padding: 5px;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
}

.footer {
    border-top: 1px solid red;
    height: 60px;  /* footer height */
    padding-top: 20px;
    display: block;
    margin-top: 20px; /* space between content and footer */
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.wrap {
    height: auto;
    margin: 0 auto -80px; /* footer height + space */
    min-height: 100%;
    padding: 0 0 80px; /* footer height + space */
    box-sizing: border-box;
    overflow: auto;
}

.post-list-detail {
  margin-left: 100px;
  font-family: 'Raleway', cursive; 
}

#sortLikes {
  margin-left: 100px;
  margin-bottom: 20px;
}

@media only screen and (max-width : 1200px) {
  .about {
    margin: 20px;
    padding: 10px;
    }
  }




