/* color palette:
evening: #262228;
sunflowers: #ffcf00;
starry night: #0375B4;
irises: #007849;
*/

body {
padding: 0;
margin: 0;
}

#navbar {
  width: 100%;
  display: inline-block;
  color: white;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 1.7em;
  border-radius: 0;
  margin-bottom: 0;
  padding-left: 20%;
}

.nav-item {
  list-style-type: none;
  float: left;
  margin: 15px 40px;
  padding: 0; 

  a {
    text-decoration: none;
    color: white;
    display: block;
  }

  a:hover {
    color: #ffcf00;
    text-decoration: none;
  }

  a.active {
    color: #007849;
    text-decoration: none;
  }
}

.banner {
  height: 450px;
  background: url("home-books.jpg");
  background-size: cover;
}

#site-brand {
  width: 370px;
  height: 160px;
  background: #1d1d1d;
  border: 1px solid #262228;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  text-align: center;
}

#site-title {
  font-size: 2.8em;
  line-height: 1.2;
  color: white;
  font-family: 'Sue Ellen Francisco', cursive;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

#subtitle {
  font-family: 'Raleway', cursive;
  color: #777;
  letter-spacing: 1px;
}

.intro {
  text-align: center;
  font-family: 'Raleway', cursive;
  font-size: 1.0em;
  letter-spacing: 1.5px;
  background: #007849;
  padding-bottom: 15px;
  width: 100hw;
  border-bottom: 1px solid #262228;
  border-top: 1px solid #262228;
  color: white;
}

.user-nav {
  font-family: 'Raleway', cursive;
  font-size: 1.3em;
  border-radius: 0;
  margin: 0;
  vertical-align: top;
  padding-top: 10px;
  height: 50px;
}

.user-nav-item {
  padding-top: 5px;
  display: inline-block;
  list-style-type: none;
  float: left;
  margin-left: 50px;
  height: 50px;
 
  a {
    text-decoration: none;
    color: #42282C;
    display: block;
  }

  a:hover {
    color: #ffcf00;
    text-decoration: none;
  }

  a.active {
    color: #6D997A;
    text-decoration: none;
  }
}

#user-navbar {
    display: inline-block;
    float: none;
    width: 100%;
    margin: 0;
    padding-left: 28%;
}

.about-page {
  margin:0 ! important;
  padding:0 ! important;
  width: 100hw;
}

.about {
  margin: 50px;
  padding: 30px;
  font-family: 'Raleway', cursive;
  font-size: 1.2em;
}

.about-list {
  padding-bottom: 10px;
}

.sidebar-right {
  height: 100vh;
  background: url('about-banner.jpg');
  background-size: cover;
  box-sizing: border-box;
  border-left: 1px solid #007849;
}

form {
  margin-left: 300px;
  padding-bottom: 300px;
}

.form-title {
  margin-left: 300px;
}

.input-group {
  margin-bottom: 10px;
}

.sidebar-left {
  float: left;
  width: 25%;
  height: 100vh;
  background: #ffcf00;
  margin-top: -5px;
  box-sizing: border-box;
  padding: 50px;
  border-right: 1px solid #262228;
}

.main {
  float: left;
  box-sizing: border-box;
  width: 75%;
  padding: 30px;
  margin-top: -5px;
  height: 100vh;
}

.user-banner {
  height: 200px;
  background: url("user-banner.jpg");
  background-size: cover;
}

#profile-bar {
  background: #007849;
  width: 100hw;
  margin: -5px;
  border-radius: 0;
  text-align: center;
  font-family: 'Raleway', cursive;
  color: #262228;
  border-bottom: 1px solid #262228;
  border-top: 1px solid #262228;
}

.profile-links {
  font-family: 'Raleway', cursive;
  font-size: 20px;
  color: #42282C;
  line-height: 2.0;
}

a.profile-links:active,
a.profile-links:hover,
a.profile-links:focus {
  text-decoration: none;
  color: #C5BE8B; 
}



@media only screen and (max-width : 1200px) {
  .about {
    margin: 20px;
    padding: 10px;
    }
  }




